body {
    margin: auto;
    padding: auto;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
    font-size: 14.5px;
}

/* Common CSS Style Start */

.icon {
    color: grey;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}
 h2{
    font-weight: 800;
    font-size: 32px;
 }

 .anchor-button{
    padding: 10px 20px;
    background-color: #2b2c6b;
    border-radius: 3px;
    color: #ffffffff;
    transition: .3s;
}
.anchor-button:hover{
    background-color: #3a3ef8;  
    color: #ffffffff;
}

/* Common CSS Style End */



/* Navbar Start */
@media only screen and (max-width: 580px) {
    .logo {
        width: 150px;
    }

    .active {
        color: #2b2c6b;
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        width: 200px;
    }

    .active {
        color: #2b2c6b;
    }
}

@media only screen and (min-width: 1024px) {
    .logo {
        width: 200px;
    }

    .active {
        background-color: #2b2c6b;
        color: #ffffffff !important;
        border-radius: 3px;
    }
}

@media only screen and (min-width: 1440px) {
    .logo {
        width: 200px;
    }

    .active {
        background-color: #2b2c6b;
        color: #ffffffff !important;
        border-radius: 3px;
    }
}

.get-quote-button {
    background-color: #2b2c6b;
    padding: 10px;
    color: #ffffffff !important;
    border-radius: 5px;
}

.get-quote-button:hover {
    background-color: #3a3ef8;
}

/* Navbar End */




/* Home Page Start */
.home-page-bg-a {
    background-image: url(../images/home-page/2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    animation: shrink 3s alternate;
}

.home-page-first-title {
    position: absolute;
    color: rgb(67, 67, 67);
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 80px;
}

.home-page-first-small_title {
    font-size: 20px;
}

@media only screen and (max-width: 580px) {
    .home-page-first-title {
        position: absolute;
        color: rgb(67, 67, 67);
        top: 50%;
        text-align: center;
        font-size: 30px;
    }
}


.card{
    border: 0;
}
.card-body{
    padding: 10px;
}

.item{
    background-color: #ffffffff !important;
}
.affiliations-img{
    width: 160px !important;
    height: 100px !important;
    margin: auto;
    display: block;
}
/* Home Page End */










/* Footer */
.copy-right{
    font-size: 12px;
}

.footer-social-icon{
    font-size: 22px;
    transition: .3s;
}

.footer-social-icon:hover{
    color: rgb(154, 154, 154);
}